    <div class="jumbotron">
        <div class="container">
            <h1>ManiaCDN</h1>
            <p>The ManiaPlanet CDN, for the community, by the community.</p>
            <p>
                <a class="btn btn-primary btn-lg">Get involved</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">


            <div class="col-md-3 col-md-push-9 sidebar" role="complementary">
                <nav class="nav-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="300" data-offset-bottom="0">
                    <ul class="nav-sidebar-list nav nav-stacked">
                        <li class="active">
                            <a href="#cdn_home">Overview</a>
                        </li>
                        <li>
                            <a href="#cdn_status">Status</a>
                        </li>
                        <li>
                            <a href="#cdn_mirrors">Mirrors</a>
                        </li>
                        <li>
                            <a href="#cdn_about">About</a>
                        </li>
                    </ul>
                </nav>

                <br>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="E6T8CWAUN32ZG">
                    <input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>


            <div class="col-md-9 col-md-pull-3" role="main">
                <section id="cdn_home" class="group">
                    <h1>Overview</h1>
                    <p>
                        The ManiaCDN is a set of mirrors provided by the community in order to provide a stable cluster of servers to provide static content for game content
                    </p>

                    <h3>Content</h3>
                    <p>
                        Contents of the CDN is managed by validated authors. They can update their files and it will be available within 12 hours (but mostly 6 hours) on the whole network.
                    </p>
                    <p>
                        You can apply as a content provider by clicking the Distribute my Content button. You can also read more information about the process of checking and rules.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Distribute my Content</a>

                    <h3>Management</h3>
                    <p>
                        Servers are automaticly being updated with the newest files distributed over the network.
                        We also check every so often if the servers are still updating and will directly suspend it when it's providing old content.
                    </p>
                    <p>
                        New servers are always welcome! Please click on the button Donate my Server to see how you can donate to the CDN.
                    </p>
                    <a href="#" class="btn btn-success btn-sm">Donate my Server</a>
                </section>

                <section id="cdn_status" class="group">
                    <h1>Status</h1>
                    <p>The actual status of the ManiaCDN network:</p>

                    <p>Online mirrors: {{mirrorsOnline}}</p>

                </section>

                <section id="cdn_mirrors" class="group">
                    <h1>Mirrors</h1>
                    <p>List with mirrors and the update time</p>

                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>Loc.</th>
                                <th>Active</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each mirrors}}
                            {{#if active}}
                                <tr class="">
                            {{else}}
                                <tr class="active">
                            {{/if}}
                                <td>
                                    <code>
                                        {{ip4}}{{ip6}}
                                    </code>
                                </td>

                                <td>
                                    {{countrycode}}
                                </td>

                                <td>
                                    {{#if active}}
                                        <label class="label label-success">
                                            Active
                                        </label>
                                    {{else}}
                                        <label class="label label-warning">
                                            Inactive
                                        </label>
                                    {{/if}}
                                </td>

                                <td>
                                    <div class="server-status" data-status="{{status}}"></div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                </section>

                <br><br><br><br>


                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            </div>
        </div>
    </div>
